order.css

.order-container {
  margin-top: 90px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
}

.order-list {
  display: flex;
  flex-direction: column;
}

.order-item {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #ffffff;
}

.order-item-content {
  margin-bottom: 10px;
}

.order-item-name,
.order-item-quantity {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.order-image-container img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #888;
}
