/* ReadMessage.css */

.table-container {
    margin-top: 85px !important;
    border-top-color: 2px solid #000000;
    border-bottom: none !important;
    overflow: auto;

  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th{
    font-size: 20px !important;
    border: 2px solid #000000;
    padding: 8px;
    text-align: center;
  }
   .table td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: left;
   
  }
  
  .table td.email-column {
    color: #000000; /* Change color for email column */
    font-weight: bold; /* Apply bold font for email column */
  }
  
  .table td.message-column {
    color: rgb(33, 5, 175);
    font-size: medium;
    /* Add any additional styles for the message column */
  }
  
  .table th {
    background-color: #09939c;
    color: #ffffff;
  }
  
  .table tbody tr:hover {
    background-color: #f2f2f2;
  }
  

  @media (max-width: 767px) {
    .table th{
        font-size: 20px !important;
        border: 2px solid #000000;
        padding: 8px;
        text-align: left;
      }
    }