/* Home.css */
.home-container {
    background-color: white;
    padding: 20px;
   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .home-title {
    color: #4caf50; /* Set a vibrant green text color */
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem; /* Increase font size */
    font-family: 'Open Sans', sans-serif; /* Use a modern sans-serif font */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
  }
  
  .col-md-4 {
    background-color: #ffffff00; /* Replace with your desired background color */
   
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    padding: 15px; /* Optional: Add padding for better spacing */
    border-radius: 50px;
  }
  /* Add more styling as needed */
  .shadow-lg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mb-3 {
    margin-bottom: 20px;
  }

  .search-form-control {
    width: 500px !important;
    margin-left: -150px !important;
    border: 2px solid green; /* Adjust the width of the search field */
  }


  @media (max-width: 767px) {
    .home-title {
      color: #4caf50; /* Set a vibrant green text color */
      text-align: center;
      margin-bottom: 20px;
      font-size: 2.02rem; /* Increase font size */
      font-family: 'Open Sans', sans-serif; /* Use a modern sans-serif font */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
    }
    .search-form-control {
      width: 300px !important;
      margin-left: 0px !important; 
      border: 2px solid green !important;
    }
  
  }

  @media (max-width: 1290px){
    .search-form-control {
      width: 300px !important;
      margin-left: 0px !important; 
      border: 2px solid green !important;
    }
  
  }